<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMga2tVr8Xk8avET4xCSX3OWygkYGEqu0</string>
	<key>GCM_SENDER_ID</key>
	<string>988832706213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.cs194W.Cove</string>
	<key>PROJECT_ID</key>
	<string>cove-2ce5c</string>
	<key>STORAGE_BUCKET</key>
	<string>cove-2ce5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988832706213:ios:0f98ea90ec67162076674c</string>
</dict>
</plist>